/* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> */

::backdrop
{
    background-color: white;
}

/* interactive faq */
dl.faq button {
  margin: 0;
  margin-top: 16px;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 110%;
  border: none;
  background-color: transparent;
  border-radius: 5px;
body{
  background: yellow;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 16px;
}
h1, h2, h3{
  font-family: serif;
  font-weight: normal;
  /* padding-bottom: .6em; */
}
h2{
  font-size: 1.25em;
}
h3{
  font-size: 1.1em;
}
p{
  margin-bottom: 1.8em;
  line-height: 1.8em;
}

.skip-link{
  background: tomato;
  color: #fff;
  font-weight: 700;
  padding: 4px;
  position: absolute;
  transform: translateY(-200%);
}
.skip-link:focus{
  transform: translateY(-100%);
}
.skip-link{
  /* same as before */
  transition: transform 0.3s;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  background: lightsalmon;
  display: grid;
  width: 100vw;
  height: 100vh;
  /* grid-template-columns:
  1fr 2fr 1fr;
  grid-template-areas:
  "heady  heady heady"
  "navvy  navvy navvy"
  "aside1 mainy aside2"
  "aside1 mainy aside2"
  "aside1 mainy aside2"
  "footy  footy footy"; */
}

nav ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
nav ul li{
  list-style: none;
}
